* { padding: 0; margin: 0; }

html, body {
  height: 100%;
  display: flex;
  flex-direction: column;
  
}

#content {
    display: flex;
    flex-direction: column;
    background: hotpink;
    height: 100%;
}


/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: indianred;
    font-size: 30px;
    
}

.searchContainer{
    display: flex;
    
}

.searchLabel {
    font-size: 15px;
}
.search {
    
}

.title {
    
}

.addTask {
    min-width: 25px;
    min-height: 25px;
    
}

/* ----- main content ----- */
.contentContainer {
    display: flex;
    width: auto;
    height: 100%; 
}
/* sidebar */

.sidebar{
    display:flex;
    flex-direction: column;
    text-align: center;
    max-width:  100px;
    min-width:  100px;
    padding-top: 20px;
    background-color: tan;
    
}


.menuItem{
    margin-bottom: 10px;
    background: none;
    border: none;
    font-size: 15px;
}

/* task display */


.taskDisplay {
    display:flex;
    width: 100%;

    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap; 
    background: lightskyblue;
    
}

.taskDiv {
    flex-grow: auto 1;
    border: 10px solid black;
    width: 200px;
    margin: 20px;
    background-color: lightsteelblue;
    padding: 15px;
}